MONGO_URI=mongodb+srv://anaamfrancis:<db_password>@cluster0.marvmew.mongodb.net/
JWT_SECRET=mySuperSecretKey123!
#mongodb+srv://enoch:enochPass@cluster0.zqdxtgm.mongodb.net/taskmanager?retryWrites=true&w=majority